/*** IE7  Only CSS ***/

/* Microthemer UI Form Fields */
#tvr-ui .property-fields input,
#tvr-ui .property-fields select {
	width : 105px; /* IE7 - actual width = 113 (+8px) - but it doesn't actually seem to take up that much room */ 
}
#tvr-ui .property-fields select {
	width : 112px; /* IE7 -  */ 
}
#tvr-ui .input-span-2 select {
	width:241px;
}
#tvr-ui .input-span-3 select {
	width:369px;
}